header {
  border-bottom: 1px solid black; 
  display:flex; 
  padding:20px; 
}

nav { 
  display: flex; 
  justify-content: flex-end; 
  margin: 0 auto ; 
  max-width: 1080px;
}

nav p { 
  color: black;
  font-size: 16px; 
  font-weight: bold; 
  margin: 0 ; 
  margin-left: 40px;
}


.PageWrapper{
  margin:0 auto; 
  padding: 25px; 
  max-width:1080px; 
}
.FormElement{
  display:flex; 
  flex-direction: column; 
}


.FormElement input {

}
.FormElement label {
  font-weight: bold; 
  margin-bottom: 8px; 
}

.FormElement button{
    font-size:16px; 
    margin-top: 20px;
    padding: 10px; 

}